<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('raw-loader!./meta.html') %>
    <script><%= require('raw-loader!babel-loader!../../node_modules/lib-flexible/flexible.js') %></script>
    <!--<script type="text/javascript" src="https://now8.gtimg.com/now/lib/16.2.0/react.min.js"></script>-->
    <!--<script type="text/javascript" src="https://now8.gtimg.com/now/lib/16.2.0/react-dom.min.js"></script>-->
    <script><%= require('raw-loader!babel-loader!../../build//library/library.dll.js') %></script>
    <title>searchTitle</title>


</head>
<body>
    <div id="root"></div>
</body>
</html>