p{
    margin:0px;
    padding:0px;
}
.desc{
    overflow: visible; /*hidden、scroll、auto、visible 默认会呈现在元素框外面*/
    text-overflow: ellipsis; /*ellipsis 省略号，clip 裁剪*/
    white-space: pre; /*pre 保留空白+不换行，nowrap 不换行、pre-wrap 空白+换行、*/
    word-wrap: break-word; /*break-word、normal*/
}
.result{
    color:red;
}
.red{
    color:red;
}
.green{
    color:Green;
}
.gotoArrayString{
    position: fixed;
    top:10px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoNull{
    position: fixed;
    top:40px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoArray{
    position: fixed;
    top:70px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoObject{
    position: fixed;
    top:100px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoPromise{
    position: fixed;
    top:130px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoasync{
    position: fixed;
    top:160px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoThis{
    position: fixed;
    top:190px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoBindCallApply{
    position: fixed;
    top:220px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoBiBao{
    position: fixed;
    top:250px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoEventMaoPao{
    position: fixed;
    top:280px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoHttp{
    position: fixed;
    top:310px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoPanDuan{
    position: fixed;
    top:340px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoShenKaoBei{
    position: fixed;
    top:370px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoWeiLei{
    position: fixed;
    top:400px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}
.gotoBFC{
    position: fixed;
    top:430px;
    right:10px;
    background-color: burlywood;
    cursor:pointer;
}